name: build

permissions:
    contents: write
    packages: write
    issues: write
    pull-requests: write

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache: true
      - run: go mod tidy
      - run: go test -v ./...
      - uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build dockerfile
        run: docker build -t gnpm:latest -f Dockerfile .
      - name: Upload Snapshot Artifacts
        if: github.event_name != 'push' || !startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v4
        with:
          name: gnpm-snapshot
          path: dist/*
      - name: Delete previous Release
        if: (github.event_name != 'push' || !startsWith(github.ref, 'refs/tags/v')) && github.ref == 'refs/heads/main'
        run: |
          RELEASES_URL="https://api.github.com/repos/${{ github.repository }}/releases"
          RELEASE_ID=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "$RELEASES_URL" | jq -r '.[] | select(.tag_name=="release-9999") | .id')
          if [ -n "$RELEASE_ID" ]; then
            curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "$RELEASES_URL/$RELEASE_ID"
          else
            echo "No previous release with tag 'release-9999' found."
          fi
      - name: Create Release
        if: (github.event_name != 'push' || !startsWith(github.ref, 'refs/tags/v')) && github.ref == 'refs/heads/main'
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/*
          tag: "release-9999"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: true
      - name: Create Release
        if: github.event_name != 'push' && startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/*
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: true